$default-size: 1920;
$desktop-break-point: 1920px;

@function nonScalePx ($size) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($desktop-break-point / ($default-size / $size));
  }
}

@function pxToVwDesktop($size) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($size * 100vw / $default-size);
  }
}

.container {
  width: nonScalePx(1300);
  margin: 0 auto;
  @media (max-width: $desktop-break-point) {
    width: 100%;
    padding-left: pxToVwDesktop(50);
    padding-right: pxToVwDesktop(50);
  }
}